
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: #343d46;
}

#pageWrapper {
}

#input_SearchBox {
	width: 200px;
	padding: 10px;
	border-radius: 10px;
	background: #63717f;
	color: white;
	border: 0;
}
